.main {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: row;
}

.leftPane {
  flex: 1 1;
  height: 100%;
}

.rightPane {
  width: 320px;
  height: 100%;
}

.board {
  position: relative;
  aspect-ratio: calc(16 / 9);
  max-height: 100%;
}
