.panel {
  position: relative;
  width: 200px;
  /*height: 180px;*/
  aspect-ratio: 16 / 9;
  overflow: hidden;
  box-sizing: content-box;
  user-select: none;
  pointer-events: none;
}

.image {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.pagination {
  display: inline-block;
  width: 4px;
  height: 4px;
  background-color: #fff;
  opacity: 0.5;
  margin: 2px;
  border-radius: 2px;
  transition: opacity linear 250ms;
}

.paginationActive {
  opacity: 1;
}

.descriptionArea {
  position: absolute;
  width: 100%;
  left: 0;
  bottom: 0;
  color: #fff;
  z-index: 1;
  padding-left: 10px;
  padding-bottom: 10px;
  padding-right: 10px;
}

.descriptionArea::after {
  display: block;
  position: absolute;
  background:
    linear-gradient(
      to bottom,
      rgba(30, 30, 30, 0),
      rgba(30, 30, 30, 1)
    );
  width: 100%;
  height: 50%;
  bottom: 0;
  left: 0;
}
