.main {
  width: 100%;
  height: 100%;
}

.leftPane {
  flex: 1 1;
  height: 100%;
}

.rightPane {
  position: fixed;
  top: 0;
  right: 0;
  width: 320px;
}

.board {
  position: relative;
  width: 100%;
  height: 100%;
  width: 1280px;
  height: 720px;
}

.panelWrapper {
  position: absolute;
  top: 0;
  left: 0;
  display: inline-block;
}

.panelWrapper:hover {
  z-index: 1;
}

.gamePanel {
  transition: transform ease-in-out 250ms;
}

.panelWrapper:hover .gamePanel {
  transform: scale(1.1);
}

.gamePanelControl {
  position: absolute;
  display: inline-flex;
  visibility: hidden;
  right: 100%;
  bottom: 0;
  height: 100%;
  opacity: 0;
  flex-direction: column;
  justify-content: flex-end;
  transition: opacity linear 250ms;
}

.panelWrapper:hover .gamePanelControl {
  visibility: visible;
  opacity: 1;
}

.approvalButton {
  word-break: keep-all;
}

.canvas {
  position: absolute;
}

.recommendation {
  position: fixed !important;
  bottom: 16px;
  right: 16px;
  width: 320px;
}

.pureWrapper {
  display: inline-block;
  transition: transform ease-in-out 250ms 0ms;
}
