.badge {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 32px;
  height: 32px;
  right: 0;
  top: 0;
  transform: translate(50%, -50%);
  border-radius: 50%;
  z-index: 1;
  color: #fff;
}
