.searchPanelInput {
  border-radius: 24px;
  background-color: #fff;
  height: 48px;
  padding: 0 24px;
  border: solid 1px #bbb;
  margin: 16px;
  width: calc(100% - 16px * 2);
}

.hasChildren .searchPanelInput {
  border-radius: 24px 24px 0 0;
  border-bottom: dashed 1px #bbb;
}

.suggest {
  position: absolute;
  width: 100%;
  background-color: #fff;
  border: solid 1px #bbb;
  border-top: none;
  z-index: 1;
}
